/*鏂囨湰鏍煎紡css锛氬叕鐢�*/
body{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "寰蒋闆呴粦";
	/*background: #f6f6f6;*/
}
.box{
	width: 90%;
	margin: .8rem 5% .8rem 5%;
		/*border: 1px solid black;*/

}	
.head-title{
	margin-bottom: 2px;
}
.content{
	
}

.btn {
	outline: none;
	background: green;
	padding: 10px 0 10px 0;
	min-width: 80%;
	color: #fff;
	margin: 20px 10% 20px 10%;
	border: 0px;
	border-radius: 5px;
	display: block;
	text-align: center;
	text-decoration: none;
}

.top,.bottom{
	width: 100%;
	background: #fff;
	position: fixed;
}
.top{
	height: 0rem;
	top: 0px;
}
.bottom{
	height: 0rem;
	bottom: 0px;

}
